---
import Image from "astro/components/Image.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home"
const description = "The home page of Brandon Gutierrez's website."
---

<style>
	img {
		width: 50%;
		height: 50%;
	}
</style>
<BaseLayout pageTitle={pageTitle} description={description}>
	<h1>Brandon Gutierrez</h1>
	<p>I like computers.</p>
</BaseLayout>