---

---
<style>
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        gap: 1em;
    }

    ul li a {
        color: black;
    }
</style>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/résumé">Résumé</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
    </ul>
</nav>