<nav>
    <a href="/">
        <pre>
           _   _ _                                 
 __ _ _  _| |_(_) |__ _ _ __ _ _ _    __ ___ _ __  
/ _` | || |  _| | '_ \ '_/ _` | ' \ _/ _/ _ \ '  \ 
\__, |\_,_|\__|_|_.__/_| \__,_|_||_(_)__\___/_|_|_|
|___/                                              
        </pre>
    </a>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <!--
        <li>
            <a href="/documents/brandon_gutierrez_resume.pdf" download>Résumé</a>
        </li>
        -->
        <li>
            <a href="/blog">Blog</a>
        </li>
        <!--
        <li>
            <a href="https://store.gutibran.com" target="_blank">Store</a>
        </li>
        -->
    </ul>
</nav>
<marquee>"For every age there is a time of trial. The rocks faced such a fire before they were the strength beneath our feet. The plants braved vast winds before their roots could give us life. As a sage of considerable years, I have known only one such great ordeal. Yet the hero it created was a champion of all time." - Samos The Sage (Jak 2)</marquee>